@font-face {
    font-family: gotham;
    src: url("../fonts/GothamMedium.ttf");
}

:root {
    --primary: #dc143c;
}

* {
    font-family: gotham;
}

#divEditor, .croppr-container {
    width: auto;
    display: block;
    margin: auto;
}

#canvasPreview {
    display: block;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.gap-4 {
    gap: 1rem;
}

@media only screen and (min-width: 767px) {
    .md-flex-row {
        flex-direction: row;
    }

}

.logo {
    width: 5rem;
    place-self: center;
}

.avoidOverflow {
    max-width: 100vw;
}

.temporalHidden {
    display: none;
}

span.required::after {
    content: "*";
    color: crimson;
}