@font-face {
  font-family: gotham;
  src: url("../fonts/GothamMedium.ttf");
}

:root {
  --error: firebrick;
  --success: limegreen;
}

* {
  font-family: gotham;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.small {
  font-size: 0.875rem;
}

.gap-4 {
  gap: 1rem;
}

.p-4 {
  padding: 1rem;
}

@media only screen and (min-width: 767px) {
  .md-flex-row {
    flex-direction: row;
  }
}

.logo {
  width: 5rem;
  place-self: center;
}

.temporalHidden {
  display: none;
}

.dropzone {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px dashed var(--secondary);
  text-align: center;
}

.dropzone.active {
  border-color: var(--primary);
  background-color: var(--primary-focus);
}

.dropzone[aria-invalid="true"]{
    border-color: var(--error);
}

.dropzone[aria-invalid="false"]{
    border-color: var(--success);
}

.error-tooltip[aria-invalid="true"]{
    color: var(--error);
}

.error-tooltip[aria-invalid="false"]{
    color: var(--success);
}

span.required::after {
  content: "*";
  color: crimson;
}

canvas {
  display: block;
  margin: auto;
}

#canvasResult {
  display: none;
}

#divEditor {
  display: block;
  margin: auto;
}